<div class="footer">
   <div class="container">
      <p class="copy">&copy; {{ site.time | date: '%Y' }}</p>
      <div class="footer-links"> 
         <ul class="noList">
            {% if site.social.linkedin %} 
            <li><a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank">
                  <i class="fab fa-linkedin fa-2x fa-fw"></i>
            </a></li>
            {% endif %}
            {% if site.social.twitter %}
            <li><a href="https://twitter.com/{{ site.social.twitter }}" target="_blank">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a></li>
            {% endif %}
            {% if site.social.github %}
            <li><a href="https://github.com/{{ site.social.github }}" target="_blank">
                  <i class="fab fa-github-square fa-2x fa-fw"></i>
            </a></li>
            {% endif %}
         </ul>
      </div>
   </div>
</div>

